@model testperoject.Models.FileLoaded
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
        <h4>Select the file to load</h4>
      @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
      {
            <div class="form-group">
                <label for="txtFile">FileName:</label>
                <input type="text" class="form-control" name="FileName" id="txtFile">
            </div>
            <div>
                @Html.TextBoxFor(m => m.File, new { id = "fu-my-simple-upload", type = "file" })
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="Start upload" />
            </div>
      }
</div>